html,
body,
#cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.popup-ctn {
  position: absolute;
  z-index: 999;
  background: rgb(0, 0, 0);
  /* height: 200px; */
  /* width: 300px; */
}

.popup-tip-container {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 40%;
  margin-left: -20px;
  overflow: hidden;
  pointer-events: none;
}

.popup-tip {
  width: 17px;
  background: rgb(0, 0, 0);
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



.popup-content-ctn {
  padding: 15px;
}

.popup-content {
  color: aliceblue;
  height: 100px;
  width: 200px;
}

.popup-close-button {
  user-select: auto;
  position: absolute;
  right: 0;
  top: 0;
  color: rgb(255, 255, 255);
  cursor: pointer;
}